<section class="main-section">
  <h1 class="section-head">Popular Products</h1>
  <div class="main-container">
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
      @for (product of products; track product._id) {
      <div class="outter p-2">
        <div class="product p-3 cursor-pointer" [routerLink]="['/p-details', product._id]">
          <img [src]="product.imageCover" class="w-full block" [alt]="product.title" />
          <div class="px-3">
            <h1 class="text-gray-700 font-bold pt-1.5">
              <span class="text-black">Title:</span> {{ product.title.split(' ', 3).join(' ') }}
            </h1>
            <h1 class="text-gray-700 font-bold pt-1.5">
              <span class="text-black">Price:</span> {{ product.price }}
            </h1>
            <h1 class="text-gray-700 font-bold pt-1.5">
              <span class="text-black">Category:</span> {{ product.category.name }}
            </h1>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>