<section class="main-section">
  <div class="main-container">
    <h1 class="section-head my-3">Shop Cart</h1>
    <h3 class="text-xl text-emerald-700 font-bold p-2 my-3">
      Total Cart Price : {{ cartData.totalCartPrice }}
    </h3>

    @for (cartItem of cartData.products; track cartItem.product._id) {
    <div
      class="flex flex-wrap items-center justify-between border-2 border-e-neutral-400 rounded-3xl p-3 my-3"
    >
      <div class="w-full lg:w-1/6">
        <img [src]="cartItem.product.imageCover" class="w-full block" alt="" />
      </div>
      <div class="w-full lg:w-2/4">
        <h1 class="font-bold text-4xl py-1">{{ cartItem.product.title }}</h1>
        <h2 class="font-bold text-3xl text-gray-700 py-1">{{ cartItem.price }} EGP</h2>
        <h6 (click)="deleteProduct(cartItem.product._id)" class="cursor-pointer text-2xl font-bold text-red-600 py-2">
          <span class="px-2">Remove Item From Cart</span> <i class="fa fa-trash-can"></i>
        </h6>
      </div>
      <div class="w-full lg:w-1/12">
        <div
          class="flex flex-wrap justify-evenly lg:justify-between items-center text-xl text-emerald-400 font-bold"
        >
          <i
            (click)="changeCount(cartItem.product._id, cartItem.count + 1)"
            class="fa fa-plus-circle cursor-pointer"
          ></i>
          <h3>{{ cartItem.count }}</h3>
          @if (cartItem.count > 1) {
          <i
            (click)="changeCount(cartItem.product._id, cartItem.count - 1)"
            class="fa fa-minus-circle cursor-pointer"
          ></i>
          }
        </div>
      </div>
    </div>
    }
  </div>
</section>
