<section class="main-section">
  <div class="main-container">
    <h1 class="section-head">Register Now</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="relative py-2">
        <input
          formControlName="name"
          type="text"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-400 peer"
          placeholder=" "
        />
        <label
          for="floating_outlined"
          class="absolute font-bold text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-200 px-2 peer-focus:px-2 peer-focus:text-emerald-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Name</label
        >
      </div>
      @if (registerForm.get('name')?.errors && registerForm.get('name')?.touched) {
      <div class="bg-red-400 p-5 my-2 rounded-3xl font-bold">
        @if (registerForm.get('name')?.getError('required')) {
        <p class="text-l">Name is Requaired !!!!</p>
        } @if(registerForm.get('name')?.getError('minlength')){
        <p class="text-l">Name is Short !!!!</p>
        } @if (registerForm.get('name')?.getError('maxlength')) {
        <p class="text-l">Name is Long !!!!</p>
        }
      </div>
      }

      <div class="relative py-2">
        <input
          formControlName="email"
          type="email"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-400 peer"
          placeholder=" "
        />
        <label
          for="floating_outlined"
          class="absolute font-bold text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-200 px-2 peer-focus:px-2 peer-focus:text-emerald-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Email</label
        >
      </div>
      <div class="relative py-2">
        <input
          formControlName="password"
          type="password"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-400 peer"
          placeholder=" "
        />
        <label
          for="floating_outlined"
          class="absolute font-bold text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-200 px-2 peer-focus:px-2 peer-focus:text-emerald-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Password</label
        >
      </div>
      <div class="relative py-2">
        <input
          formControlName="rePassword"
          type="password"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-400 peer"
          placeholder=" "
        />
        <label
          for="floating_outlined"
          class="absolute font-bold text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-200 px-2 peer-focus:px-2 peer-focus:text-emerald-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >RePassword</label
        >
      </div>
      <div class="relative py-2">
        <input
          formControlName="phone"
          type="tel"
          id="floating_outlined"
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-emerald-400 peer"
          placeholder=" "
        />
        <label
          for="floating_outlined"
          class="absolute font-bold text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-gray-200 px-2 peer-focus:px-2 peer-focus:text-emerald-400 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
          >Phone</label
        >
      </div>

      <button [disabled]="registerForm.invalid" class="mt-1.5 main-btn">register</button>
    </form>
  </div>
</section>
