<footer class="bg-gray-200 py-10">
  <div class="w-11/12 mx-auto">
    <h2 class="m-0 text-2xl font-bold">Get The FreshCart App</h2>
    <p class="text-gray-500 text-sm">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <div class="flex items-center gap-3 text-nowrap my-2">
      <input
        type="text"
        class="w-full rounded-lg border-gray-300"
        placeholder="Email"
      />
      <button class="btn-main">Share App Link</button>
    </div>

    <hr />

    <div class="pay-details md:flex justify-between items-center my-5">
      <div class="flex items-center gap-2">
        <h3 class="text-sm m-0 font-bold">Payment partners</h3>
        <img src="./images/amazon-pay.png" width="50px" alt="" />
        <img src="./images/American-Express-Color.png" width="50px" alt="" />
        <img src="./images/paypal.png" width="50px" alt="" />
        <img src="./images/mastercard.webp" width="50px" alt="" />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="h6 m-0 font-bold">Get Deliveries with FreshCart</h3>
        <img src="./images/get-google-play.png" width="100px" alt="" />
        <img src="./images/get-apple-store.png" width="100px" alt="" />
      </div>
    </div>
  </div>
</footer>