<section class="main-section">
  <h1 class="section-head">Catergories</h1>
  <div class="main-container">
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
      @for (category of categories; track category._id) {
      <div class="outter p-2">
        <div class="product p-3 cursor-pointer">
          <img [src]="category.image" class="w-full block h-[300px]" [alt]="category.slug" />
          <div class="px-3">
            <h1 class="text-gray-700 font-bold pt-2 text-center">
              {{ category.name }}
            </h1>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
